@import "tailwind";

body {
    height: 100vh;
    padding: 0;
}

// Fonts
@font-face {
    font-family: 'Caveat', cursive;
    src: url('/fonts/Caveat-VariableFont_wght.ttf');
}

*{
    font-family: "Caveat";
}

button{
    outline: none !important;
}
